html {
font-size: 120%;
}

body {
    background-color: #FAFDFB;
    color: #000000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

header .ToppLogo {
    display:inline-flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    height: 2rem;
    width: 5rem;
    padding-left: 50%;
}

ul {
    display: flex;
}

li {
    color: #ffffff;
    list-style:none;
    display: inline-block;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #006A65;
    margin: 0%;
}

main {
    background-size: 100vh 100vh; 
    background-repeat: no-repeat;
    background-position: center center;
    height:100vh;
 
}

.bakgrunnsbilde {
    padding: 0rem;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

article {
    display: inline;
    flex-direction: row;
    align-items: center;
    position: center;
}

section {
    display: inline;
    flex-direction: row;
    align-items: center;
    position: center;
}

.box1 {
    padding: 2rem;
    background-color:aquamarine;
}

footer {
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 100%;
}

.loginn {
    background-color: #006A65;
    color: #FAFDFB;
    flex-direction: row;
    place-items: center;
    display: inline;
    padding-left: 30%;
    position: center;
    justify-content: center;
    padding: 2rem 5rem;
}

 .sign-up {
        background-color: #71F7ED;
        color: #000;
        flex-direction: row-reverse;
        place-items: center;
        display: inline;
        padding-right: 30%;
        position: center;
        justify-content: center;
        padding: 2rem 5rem;
    }