html {
font-size: 120%;
}

body {
    background-color: #FAFDFB;
    color: #000000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}


/*
  .klatrerbakgrunn {
  background: url(../assets/klatrerbakgrunn.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 2560px;
  width: 1440px;
}
*/

header .ToppLogo {
    display:inline-flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    padding-left: 50%;
}


main {
    background-image: url(./assets/klatrerbakgrunn.jpg);
    background-image: no-repeat;
    background-size: cover;
    background-position: fit-content;
    width: 70%;
    height: 70%;
}

section .LoggInn {
    background-color: #006A65;
    flex-direction: column;
    display: inline-flex;
    padding-left: 50%;

    
}

